modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["psmisc"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3001

[[ports]]
localPort = 23637
externalPort = 3002

[[ports]]
localPort = 23638
externalPort = 3000

[[ports]]
localPort = 23639
externalPort = 3003

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
APIBRASIL_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2dhdGV3YXkuYXBpYnJhc2lsLmlvL2FwaS9vYXV0aC9leGNoYW5nZSIsImlhdCI6MTc3MzE0NzY1MiwiZXhwIjoxODA0NjgzNjUyLCJuYmYiOjE3NzMxNDc2NTIsImp0aSI6IjdUaUVEdnhGR05OMURvSkkiLCJzdWIiOiIxODg1NiIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.J7eUcN_0yEdF2VLhO34BtdNKZ2gEesJC1GJBtafA0t4"
APIBRASIL_DEVICE_NOTAS = "ce9eae77-e72f-4a97-857b-351ee4c38804"
APIBRASIL_DEVICE_PROCESSOS = "9875ab10-7f3c-4c6c-9fd9-92f4a34a40ce"
APIBRASIL_DEVICE_CNH = "4a84b767-107a-4645-9797-3b4a42cf36ca"
APIBRASIL_DEVICE_CERTIDAO_PJ = "09093cb0-9904-444c-a069-153eace20e4e"
APIBRASIL_DEVICE_MULTAS = "88d0d8f3-2aae-4e43-8c06-6c281e62bae8"
APIBRASIL_DEVICE_PROTESTO = "98c6a235-4ad8-41cb-b7c9-bc125822184d"
APIBRASIL_DEVICE_QUOD = "1d67719f-e25c-48b1-a902-996d9aa460c6"
APIBRASIL_DEVICE_RISCO_PJ = "49a598e3-846c-46cc-9101-e05eca58f3cd"
APIBRASIL_DEVICE_SPC = "12234ca1-4842-46f8-be1c-12d049025513"
APIBRASIL_DEVICE_ELEITORAL = "06571a4f-8ea5-4a65-9f2e-a861ae85d768"
APIBRASIL_DEVICE_PLACA_DADOS = "2cd2b184-18ab-4070-b9bb-ecb16f24a943"
APIBRASIL_DEVICE_TOKEN = "2cd2b184-18ab-4070-b9bb-ecb16f24a943"
APIBRASIL_SOCKET_CHANNEL = "ed931e80-afb8-40b5-a3d6-1225ee26308a"
RECEITAWS_TOKEN = "b01488092313fcf6152d3b0f73f828b836efc37b18bc3f782093717e4f812213"
SUPABASE_DATABASE_URL = "postgresql://postgres:Grupotmseg00%40@db.erjhxwbutjyylxdthuuz.supabase.co:5432/postgres"
SUPABASE_URL = "https://erjhxwbutjyylxdthuuz.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyamh4d2J1dGp5eWx4ZHRodXV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxNjA2NDMsImV4cCI6MjA4ODczNjY0M30.j3nUyRQnRKF03iy9qiXAd6jH_REP79Mof20YD1jLafA"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyamh4d2J1dGp5eWx4ZHRodXV6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzE2MDY0MywiZXhwIjoyMDg4NzM2NjQzfQ.1QsyCwyNyljzTH0aVl4SzurM4XR_Qqzpu98Qyik_22I"
VITE_SUPABASE_URL = "https://erjhxwbutjyylxdthuuz.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyamh4d2J1dGp5eWx4ZHRodXV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxNjA2NDMsImV4cCI6MjA4ODczNjY0M30.j3nUyRQnRKF03iy9qiXAd6jH_REP79Mof20YD1jLafA"
VITE_GOOGLE_MAPS_API_KEY = "AIzaSyChk1MTCwEUTB4k6MrsrtP13S6fMcY9bJc"
TRUCKSCONTROL_CHAVE = "36982392000189"
TRUCKSCONTROL_SENHA = "211784"
WDAPI_TOKEN = "df33776079bee01ffff73467880719dd"
SMTP_HOST = "outlook.office365.com"
SMTP_PORT = "587"
SMTP_USER = "escolta@torresseguranca.com.br"
SMTP_FROM = "escolta@torresseguranca.com.br"

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000
